@using BeHealthy.ViewModels;
@model ProfileViewModel
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="display-1 fw-bold font-monospace text-center mt-3">Your Profile</header>
    @if (Model.User.Age == 0)
    {
        <h2 class="text-danger fs-3 fw-bold fst-italic">Please set your age: </h2>
        <hr />
        <form asp-controller="Profile" asp-action="SetAge">
            <input type="number" name="age">
            <button type="submit">Save</button>
        </form>
    }
    else
    {
        <h1>@Model.User.Age</h1>
    }
    @if (Model.User.Height == null)
    {
        <h2 class="text-danger fs-3 fw-bold fst-italic">Please set your height: </h2>
        <hr />
        <form asp-controller="Profile" asp-action="SetHeight">
            <input type="number" name="height">
            <button type="submit">Save</button>
        </form>
    }
    else
    {
        <h1>@Model.User.Height</h1>
    }
    
</body>